html{
    width: 100%;
    height: 100%;
}

header {
    background-image: url(../img/header_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    
}

div#Carre{
    width:400px;
    height:400px;
    background:blue;
    margin:10px auto;
}

div#Rond{
    width:500px;
    height:500px;
    border-radius:50%;
    background:purple;
    margin:10px auto;
}

div#Triangle{
   width:0px;
   height:0px;
   border-left: 200px solid transparent;
   border-right: 200px solid transparent;
   border-top: 400px solid red;
   margin:10px auto;
}
footer{
    background-color: goldenrod;
    height: 15%;
}
footer table{
    border-spacing: 0px;
    text-align: center;
    width: 100%;
    height: 50%;
}

footer table td{

    margin: 0px;
}
.Barre{
    border-right: black 5px solid ;
}
.autre{
    width: 50%;
}